html,
body {
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: royalblue;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

#logo {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.background {
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1094485061/thumb/11.jpg?ip=x480');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.booking-form {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

.booking-form h2 {
    text-align: center;
}

.booking-form form {
    display: flex;
    flex-direction: column;
}

.booking-form input,
.booking-form select {
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.booking-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ft1 {
    text-align: left;
}
.ft3 ul {
    list-style-type: none; 
}
.ft3 li {
    margin-bottom: 5px;
}